@charset "utf-8";

body {
	font-size: 15px;
	font-family: "맑은 고딕", "Malgun Gothic", sans-serif;
	line-height:25px;
}

#busi_pn {
  border-collapse: collapse;
  margin: auto;
	margin: 10px;
  text-align: justify;
}

/* title */
.tt_pn {
  border-bottom: 4px double #000;
  font-size: 20px;
  width: 180px;
  height: 25px;
  margin: auto;
	margin-bottom: 20px;
  text-align: center;
}

#busi_pn th, #busi_pn td {
  border: 1px solid #000;
  text-align: center;
}

/* [table header_1] first column - alignment */
#b_pn11, #b_pn21, #b_pn31 {
  width: 25px;
   height: 80px; 
  line-height: 20px;
}

/* [table header_2] Apply to the line before and after(row height - alignment) */
#busi_pn td {height: 35px;}


/* [table header_2] */
#b_pn12, #b_pn14 {width: 150px;}

/* [table header_3] */
#b_pn14 { width: 100px;}

/* space to 'write' alignment */
.bp13, .bp15 {width: 180px;}
#b_pn132, #b_pn142 {height: 150px;}



/*********************************************************************************/

/* [table header_2] Apply to the line before and after(row height - alignment) */
/*
#b_pn12, #b_pn22, #b_pn32, #b_pn42, #b_pn52, #b_pn62,
#b_pn72, #b_pn82, #b_pn92, #b_pn102, #b_pn112, #b_pn122, 
#b_pn132, #b_pn142 {
  width: 150px;
  height: 35px;
}
*/

/*********************************************************************************/



