@charset "utf-8";

/******* reset *******/
body,
h1,
img,
table,
caption,
tr,
th,
td,
br,
ul,
li {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}

body {
    font: normal 12px/1.5em '맑은 고딕', 'Malgun Gothic', sans-serif;
		user-select: none;
}

/************************************************************************/

h1 {
    text-align: center;
		margin-top: 20px;
}

caption {
    text-align: left;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

table {
    width: 700px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}
th, 
td {
    border: 1px solid #aaa;
}

th {
    background-color: #c8edff;
}

table tr:first-child th {
    border-top: 3px solid #ff8000;
}

table tr:first-child th:nth-child(1) {
    width: 100px;
    height: 30px;
}
table tr:first-child th:nth-child(2),
table tr:first-child th:nth-child(3),
table tr:first-child th:nth-child(4),
table tr:first-child th:nth-child(5) {
    width: 150px;
}

td {
	padding: 10px 0;
}

span {
    text-decoration: underline;
		text-decoration-skip-ink: none;
}

.footer {
    border: none;
}

ul {
    text-align: left;
}
ul > li::before {
	content: "\2022";
	margin-right: 10px;
}
    
