body {
	font-size: 15px;
	font-family: "맑은 고딕", "Malgun Gothic", sans-serif;
	line-height:30px;
}

#did { 
	background-color: #595959;
	color: #fff;
	text-align: center;
	width: 550px; height: 350px;
	margin: 3px;
	padding: 3px;
}

#tb2 {
	border-collapse:collapse;
	margin: 0 5px;
}

#tb2 th {
	background-color: #ff6634;
	border:1px solid #ff6634;
/*	border:1px solid #fff;*/
/*	border: hidden;*/ 
}

#tb2 td {
	border:1px solid #595959;
/*	border:1px solid #fff;*/
/*	border: hidden;*/
}

.tt {
	border-bottom: 2px solid white;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	width: 150px; 
	margin: 5px;
	padding-bottom: 5px;
}

#event {width: 180px; height: auto;}
#type	{width: 80px;}
#data {width: 200px;}
#area {width: 150px;}


