@charset "utf-8";

/******* reset *******/
div,
form,
p,
h3,
label,
b,
input,
btuuon {
	margin: 0; padding: 0;
}
body {
	font: normal 15px/1.5em Arial, sans-serif;
	color: #333;
}

/******* wrap *******/
#wrap {
	background: url(../images/bg1.jpg) no-repeat center;
	width: 900px;
	height: 450px;
}

#login {
	width: 300px;
	background-color: white;
	float: right;
	margin: 80px 50px 0 0;
	padding: 10px;
	box-shadow: 5px 5px 3px #333;
}

#login h3 {
	height: 25px;
	border: 1px solid red;
	margin: 15px 0 15px 0;
	font-size: 25px;
}

#login label {
	display: block;
}
#u_email, #u_pwd {
	width: 100%;
	height: 40px;
	border: none;
	background-color: #f1f1f1;
	outline: none;
	margin-bottom: 30px;
	text-indent: 20px;
	color: red;
}

#login input::placeholder {
	color:green;
	font-style: italic;
}
#login input:-ms-input-placeholder {
	color:green;
	font-style: italic;
}
#login input:-webkit-input-placeholder {
	color:green;
	font-style: italic;
}

.btn button {
	background-color: #33ccff;
	width: 100%;
	height: 45px;
	color: white;
	border: none;
	cursor: pointer;
	outline: none;
	opacity: 0.9;
}
.btn button:hover {opacity: 1;}