@charset "utf-8";

/******* reset *******/
body, 
div,
h3,
table,
caption,
thead,
tr,
th,
tbody,
td,
tfoot,
a {
	text-decoration: none;
	color: #333;
}
body {
	font: normal 15px/1.5em "맑은 고딕", 'Malgun Gothic', sans-serif;
	color: #333;
}

/******* wrap *******/

#wrap {
	width: 600px;
	height: 480px;
	border: 1px solid green;
	margin: 20px auto 0 auto;
}

#wrap h3 {
	width: 200px;
	height: 20px;
	border: 1px solid red;
	margin: 0 auto 30px auto;
	text-align: center;
}

#bbs caption {text-align: left;}
#bbs caption::before, #bbs caption:before {content: "* ";}
#bbs caption::after, #bbs caption:after {content: " *";}
#bbs thead tr th {
	border-top: 3px solid #f998a3;
	border-bottom: 3px double #ffcc66;
	background-color: #ffffcc;
}

#bbs {border-collapse: collapse;}
#bbs #u_no {width: 100px;} /*번호*/
#bbs #u_tit {width: 300px;} /*제목*/
#bbs #u_date {width: 130px;} /*등록일*/
#bbs #u_hit {width: 70px;} /*조회수*/

#bbs th, 
#bbs td {
	border: 1px solid #ccc;
	height: 30px;
}

#bbs tbody tr:hover {
	background-color: #eaeaea;
	cursor: pointer;
}

#bbs td {text-align: center;}

#bbs tbody td.tit_txt {
	text-align: left;
	text-indent: 25px;
}

#bbs tfoot td {
	border-left: none;
	border-bottom: none;
	border-right: none;
}

#bbs tfoot td a {
	font-size: 14px;
	font-weight: bold;
	margin: 0 3px;
}

#bbs tfoot td a:hover {
	color: #990066;
	text-decoration: underline;
}