@charset "utf-8";

/*******reset(초기화)*******/
ul, li {
	list-style:none;
}

/*******ex1*******/
#ex1 {
	background-color:#cb8f78;
	padding-left:0;
}

/*******ex2*******/
/*
p {
	background-color:orange;
}*/ /* -> 사용하지 말 것. p 태크 전체가 적용되기 때문에*/

/*
div p {
	background-color:orange;
}*/ /* -> 이 또한 div 안 p 태그 전체가 적용되기 때문에 권장x */

/*
div#ex2 p {
	background-color:orange;
}*/ /* ok */
#ex2 p {
	background-color:orange;
	width:100px;
	height:30px;
	text-align:center;
	line-height:30px;
} /* ok */

/*
div#ex2 p.ex2_1 {
	border-top:10px solid #5f8f78;
}*/ /* ok */

/*
#ex2 p.ex2_2 {
	border-top:10px solid #5f8f78;
}
*/

/*
#ex2 .ex2_1 {
	border-top:10px solid #5f8f78;
}
*/

/*
p.ex2_1 {
	border-top:10px solid #5f8f78;
}*/

.ex2_1 {
	border-top:10px solid #5f8f78;
}

/*
.ex2_2 {
	border-top:10px pink;
}  이미 앞서 적용한 것은 '변경'할 때 '태그'를 지정해주어 사용해서 변경할 수 있다.
*/

#ex2 p.ex2_2 {
	border-top:10px pink;
}

#ex2 p.ex2_1 {border-top:10px solid #5f8f78;}
#ex2 p.ex2_2 {border-left:2px dotted #5f8f78;}
#ex2 p.ex2_3 {border:3px dashed #5f8f78;}
#ex2 p.ex2_4 {border-bottom: solid #5f8f78 4px;}
#ex2 p.ex2_5 {border-right:5px #5f8f78 groove;}
#ex2 p.ex2_6 {border:#5f8f78 ridge 5px;}
#ex2 p.ex2_7 {border:inset #5f8f78 3px;}
#ex2 p.ex2_8 {border:outset 5px #5f8f78;}
#ex2 p.ex2_9 {border:2px solid #5f8f78; border-left:none; border-right:none;}
#ex2 p.ex2_10 {border-top:2px solid #5f8f78; border-bottom:2px solid #5f8f78;}

/*******ex3*******/
.ex3_1 {
	text-transform:capitalize;
}

.ex3_2 {
	text-transform:uppercase;
}

.ex3_3 {
	text-transform:lowercase;
}

/*******ex4*******/
.ex4_1 {
	font-variant:small-caps;
}

/*******ex5******/
#ex5{margin:0; padding:0; /*여백 초기화*/}
#ex5 p {
	border:1px solid #ff9999;
	width:400px;
	height:150px;
	font-size:100px;
} /*p태그 전체 적용*/
#ex5 p span {
	font-size:12px;
	border-top:1px solid green;
	border-bottom:1px solid green;
} /*span은 글자 있는 만큼만 적용*/
#ex5 p .ex5_1{vertical-align:super;}
#ex5 p .ex5_2{vertical-align:sub;}
#ex5 p .ex5_3{vertical-align:baseline;}
#ex5 p .ex5_4{vertical-align:top;}
#ex5 p .ex5_5{vertical-align:middle;}
#ex5 p .ex5_6{vertical-align:bottom;}

/*******ex6******/
#ex6 *{margin:0; padding:0;}  /*여백 초기화*/
#ex p {
	border:1px solid #ff9999;
	width:400px; height:150px; font-size:100px;
}
#ex6 p .ex6_1{vertical-align:super;}
#ex6 p .ex6_2{vertical-align:sub;}
#ex6 p .ex6_3{vertical-align:baseline;} /*default*/
#ex6 p .ex6_4{vertical-align:top;}
#ex6 p .ex6_5{vertical-align:middle;}
#ex6 p .ex6_6{vertical-align:bottom;}

/*******ex7******/
#ex7 *{margin:0; padding:0;}  /*여백 초기화*/
#ex7 p {
	border:1px solid green;
	width:400px; 
	height:150px;
}
#ex7 span{color:red;}
#ex7 .ex7_1 span{vertical-align:0px;}
#ex7 .ex7_2 span{vertical-align:25px;}
#ex7 .ex7_3 span{vertical-align:-25px;}
#ex7 .ex7_4 span{vertical-align:50px;}


